################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore/.vs/CloudVezbe/config/applicationhost.config
/BookStore/.vs/CloudVezbe
